<div class="container">
  <div class="card-block">
    <div class="card-header text-center">
      <h4>{{title}}</h4>
    </div>
    <div class="card-body">
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Vehicles</th>
        </tr>
        <tr *ngFor="let user of allusers , let i = index">
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>
            <select id="vehicle" (change)="changeVehical($event.target.value,i)" class="form-control">
              <option value="">select vehicle</option>
              <option value="cars">car</option>
              <option value="bikes">bike</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="selectedarr" class="card-footer">
      <div>
        <h3>{{msg}}</h3>
        <ul *ngFor="let vname of selectedarr">
          <li>{{vname}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>